@mixin defaultTransitions($propTrans: all, $timeTrans: 0.3s, $styleTrans: linear){
    -webkit-transition: $propTrans, $timeTrans, $styleTrans;
    -moz-transition: $propTrans, $timeTrans, $styleTrans;
    -o-transition: $propTrans, $timeTrans, $styleTrans;
    transition: $propTrans, $timeTrans, $styleTrans;
}

@mixin roundedCornersDefault($radius-top-left: 5px, $radius-top-right: 5px, $radius-bottom-left: 5px, $radius-bottom-right: 5px){
    border-radius: $radius-top-left $radius-top-right $radius-bottom-left $radius-bottom-right;
    -webkit-border-radius: $radius-top-left $radius-top-right $radius-bottom-left $radius-bottom-right;
    -moz-border-radius: $radius-top-left $radius-top-right $radius-bottom-left $radius-bottom-right;
}
