@import '../bower_components/sass-bootstrap/lib/bootstrap';
@import "base";


/*GENERAL STYLES*/
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/*STRUCTURE STYLES*/
html, body, .container{
    height: 100%;
    min-height: 100%
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-container{
    min-height: calc(100% - 119px);
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

.container {max-width: 1080px;}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/*PRODUTCS SLIDER - TITLE AREA*/
.title-area{
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    background: #A82425;
    padding: 10px;
    font-weight: bold;
}

/*PRODUTCS SLIDER - PRODUCT ITEM*/
.item{
    padding: 10px;
    cursor: pointer;
    display: block;
    color:#333;

    @media screen and (max-width: 480px) {
        > div{
            float: left;
            width: 49%;
        }
    }

    &:hover{
        background: #EED3D3;
        text-decoration: none;
        @include defaultTransitions(background, 0.5s, linear);
        color: #333;
    }

    &:active,&:visited{
        background: #EED3D3;
        text-decoration: none;
        color: #333;
    }

    img{
        width: 100%;
        max-width:250px;
        margin: 0 auto;
        @media screen and (max-width: 480px) {
            float: left;
            max-width: 117px;
            margin: 0 5px 8px 0;
        }
    }

    .product-title{
        font-size: 14px;
        color: #333;
        font-weight: 500;
    }

    .qualify{
        margin: 10px 0;
        span{

            margin: 0 5px 0 0;
            color: #333;
            font-size: 19px;
        }
    }

    .price{
        font-size: 20px;
        font-weight: bold;
        .old-price{
            font-size: 13px;
            color: #666;
            font-weight: normal;
            @media screen and (max-width: 480px) {
                display: block;
            }
        }
    }
    
    .payment{
        display:block;
        line-height:120%;
        
        .plots{
            display: block;
            float: left;
            font-size: 12px;
            font-weight: bold;
            margin: 0 5px 0 0;
        }
        
        .plots-value{
            font-size: 24px;
            font-weight: bold;
            @media screen and (max-width: 480px) {
                font-size: 20px;
            }
        }
    }
}

/*PRODUCT CAROUSEL AND CAROUSEL CONTROLS*/
.owl-carousel {
    margin: 2rem auto;
    width: 95%;
    @media screen and (max-width: 340px) {
        width: 90%;
    }
}

.owl-nav{
    position: absolute;
    top: calc(50% - 14px);
    width: 100%;
    height: 28px;
    color: #A82425;

    i:hover{
        color: #000;
        @include defaultTransitions();
    }

    .owl-prev{
        float:left;
        margin-left: -30px;
    }
    
    .owl-next{
        float:right;
        margin-right: -30px;
    }
}

.owl-dots{
    height: 20px;
    margin: 20px auto;
    width: 88px;
    @media screen and (max-width: 479px) and (min-width: 320px){
        width: 100%;
    }

    @media screen and (max-width: 599px) and (min-width: 480px){
        width: 242px;
    }

    @media screen and (max-width: 1020px) and (min-width: 600px){
        width: 132px;
    }

    .owl-dot{
        &.active{
            background: #A82425;
            border: none;
        }
        display: block;
        margin: 5px;
        height: 12px;
        width: 12px;
        border: solid 1px #A82425;
        float: left;
        @include roundedCornersDefault();
    }
}